body {
  background-image: url("hatterkep.png");
  padding: 15px;
  color: #1f3f5f;
  line-height: 125%;
}

h1 {
  text-align: center;
  margin: 10px 0px 40px;
}

h1,
h2 {
  font-variant: small-caps;
  color: #3f4f5f;
}

.bevezeto {
  /* margin: 10px 200px; helyett: */
  margin: 10px 10vw;
  text-align: center;
  background-color: #ebebeb;
  /* padding: 10px 35px; helyett: */
  padding: 10px 5vw;
  font-size: 75%;
  border-top: 1px solid #3f4f5f;
  border-bottom: 1px solid #3f4f5f;
}

#brikettek {
  width: 90%;
  max-width: 500px;
}

p {
  text-align: justify;
}

p:first-letter {
  margin-left: 45px;
}

#presek {
  float: right;
  background-color: #ebebeb;
  width: 230px;
  margin: 0px 15px;
  text-align: center;
  font-style: italic;
  font-size: 75%;
  padding: 5px;
  border-left: 1px solid #3f4f5f;
  border-right: 1px solid #3f4f5f;
}

#presek img {
  width: 220px;
  margin-top: 20px;
}

.kiemelt {
  font-weight: bold;
  font-style: italic;
}

li {
  margin-top: 10px;
}

/* kiegészítő css kód, ami hiányzott az eredetiből: */

nav {
  margin: 20px;
}

nav > div > a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.larrow{
  float: left;
}

.rarrow{
  float: right;
}